* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif
}
:root{
    --primary-color:#ffffff; 
    --secondary-color:#008000;
    --tertiary-color: #188686;
}
/* Inicio do cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
}
.header nav a  {
    margin-left:10px;
    color: black;
    text-decoration: none;
}
.header p {
    margin-left: 100px;
}
.photo {
    position: relative;
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.text-header {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: var(--primary-color);
    text-align: center;
}
.text-header p {
    margin-top: 15px;
    max-width: 550px;
}
.description-title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
}
.reserve {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 8px;
    width: 220px;
    position: absolute;
    left: 28%;
}
/* Fim do cabeçalho */
/* Inicio Delivery */
.container-delivery{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.container-delivery-image{
    max-width: 150px; 
    border-radius: 50% ;
}
.description-delivery{
    margin: 10px;
}
.description-delivery p {
    max-width: 250px;
    margin-top: 15px;
}
/* Fim Delivery */
/* Inicio forma de pagamento */
.container-payment-left{
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-left: 105px;
}
.payment-image{
    max-width: 250px;
}
.choice-payment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px; 
    text-align: justify;
    max-height: 350px;
}
.choice-payment h2 {
    text-align: center;
}
.choice-payment p {
    text-align: justify; 
    margin-left: 15px;
    margin-top: 15px; 
    line-height: 25px;
    
}
.container-payment-right{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 105px;
    flex-direction: row-reverse;
    margin-right: 100px;
}
.choice-payment-right{
    align-items: center; 
    justify-content: center; 
    text-align: justify;
}
.choice-payment-right h2 {
    text-align: center; 
}
.choice-payment-right p{
    margin-right: 15px;
    margin-left: 80px; 
    line-height: 25px; 
    margin-top: 15px;
    max-width: 850px;
}
/* Fim da forma de pagamento */
/* Inicio localização */
.container-location{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.description-location{
    max-width: 550px;
    margin-right: 15px;
    text-align: justify;
}
.description-location h3 {
    text-align: center; 
    margin-bottom: 15px; 
}
.description-location p {
    line-height: 30px;

}
/* Fim da localização */
/* Inicio do footer */
.footer{
    background-color: var(--tertiary-color);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.footer p {
    margin-left: 55px;
}
.footer img {
    height: 20px;
    width: 20px;
    margin: 5px;
}
/*fim do footer  */
/* Incio da responsividade */
@media(max-width:1190px){
   .container-delivery {
    margin-left: 20px;
   }  
   .description-delivery h3{
    font-size: 13px;
   }
   .choice-payment-right p,
   .choice-payment p {
    font-size: 15px;
    margin-right: 20px;
   }
   .container-location {
    
   }
   .description-location p{
    font-size: 15px;
   }
   iframe{
    width: 450px;
   }
   .footer{
    font-size: 13px;
   }
}
@media(max-width:1130px){
    .container-delivery {
     margin-left: 20px;
    }  
    .description-delivery h3{
     font-size: 11px;
    }
    .description-delivery p {
        font-size: 12px;
    }
    .container-delivery-image {
        width: 125px;
    }
    .choice-payment-right p,
    .choice-payment p {
     font-size: 13px;
     margin-right: 15px;
    }
    .container-location {
     
    }
    .description-location p{
     font-size: 11px;
     margin-left: 4px;
    }
    iframe{
     width: 290px;
     margin-right: 5px;
     height: 290px;
    }
    .footer{
     font-size: 7px;
    }
 }
 @media(max-width:705px){
    .header {
        font-size: 10px;
        
        
    }
   .header p {
    margin-left: 5px;
   }
    .reserve {
        position: absolute;
        top: 110%; 
        left: 50%; 
        transform: translate(-50%, -50%);

    }
    .description-title{
        font-size: 15px;
    }
     .container-delivery {
     margin-left: px;
    }  
    .description-delivery h3{
     font-size: 8px;
    }
    .description-delivery p {
        font-size: 5px;
    }
    .container-delivery-image {
        width: 60px;
    }
    .payment-image {
        width: 120px;
    }
    
    .choice-payment p {
     font-size: 8px;
    }
    .choice-payment-right p{
        width: 120px;
        font-size: 8px;

    }
    .choice-payment h2{
        font-size: 15px;
        margin-top: 5px;
    }
    .container-payment-right {
        margin-top: 55px;
        font-size: 10px;

    }
    .container-location {
     
    }
    .description-location p{
     font-size: 8px;
     margin-left: 5px;
    }
    iframe{
     width: 230px;
    }
    .footer{
     font-size: 8px;
    }
    .footer p {
        margin-left: 5px;
  
    }

 }
/* Fim da resposividade */