* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif
}
:root{
    --primary-color:#ffffff; 
    --secondary-color:#008000;
    --tertiary-color: #0eb20ebd;
    --quaternary-color:#188686;
}
.hidden {
    display: none;
}
/* Inicio do cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
}
.header nav a  {
    margin-left:10px;
    color: black;
    text-decoration: none;
}
.header p {
    margin-left: 100px;
}
.photo {
    position: relative;
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

}
.text-header {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: var(--primary-color);
    text-align: center;
}
.text-header p {
    margin-top: 15px;
    max-width: 550px;
}
.reserve {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 8px;
    width: 220px;
    position: absolute;
    left: 28%;
}
.cardapio,
.description-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
}
/* Fim do cabeçalho */
/* Inicio  do Conheça nosso interior */
.container-internal{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.internal-image{
    max-width: 250px; 
    border-radius: 50%; 
    max-height:250px;
    margin-right: 20px;
}
.description-internal {
    max-width: 550px; 
    text-align: justify; 
    line-height: 25px;
}

/* fim do conheço nosso interior */
/* Inicio do cardapio */
.title-menu{
    margin-left: 90px; 
    margin-bottom: 50px;
    margin-top: 50px;
}
.menu-cardapio {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-image{
    max-height: 150px;
    width: 150px;
    margin-right: 25px;
}
.description-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.description-menu h3{
    margin-left: 2px;
  
}
.description-menu p {
    min-width: 200px;
    max-width: 300px;
    text-align: justify;
    margin-left: 2px;
    margin-top: 15px;
    line-height: 22px;

    
}
.button a {
    display: block;
    text-align: center;
    
}
.button {
    text-align: center;
}

.button button {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.preco{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.preco p {
    font-weight: bold;
}
.preco button{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 20px;
    padding: 10px 5px;
    font-size: 12px;
}
.preco button:hover{
    cursor: pointer;
}
.car {
    position: fixed;
    top: 90%; 
    right: 8px;
    width: 70px;
    height: 70px; 
}
.cartModal{
    background-color: rgb(217, 209, 209);
    width: 80%;
    height: 70vh;
    position: fixed;
    top: 20%;
    left: 11%;
    z-index: 99;
    justify-content: center;
    border-radius: 20px;
    
}
.cartModal h2 {
    color: black;
    margin-top: 28px;
}
.ModalOrder{
    display: flex;
    flex-direction: row;
}
.closeCar{
    position: absolute;
    bottom: 80px;
    left: 70px;
    display: block;
    background-color: #008000;
    padding: 11px;
    cursor: pointer;
    border-radius: 10px;   
}
.finalizeOrder{
    position: absolute;
    bottom: 80px;
    right: 70px;
    display: block;
    background-color: #008000;
    padding: 11px;
    cursor: pointer;
    border-radius: 10px; 
}
/* Fim do cardapio */
/* inicio do footer */
.footer{
    background-color:var(--quaternary-color) ;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.footer p {
    margin-left: 55px;
}
.footer img {
    height: 20px;
    width: 20px;
    margin: 5px;
}
/*fim do footer  */
/* Responsividade */
@media(max-width:1158px){
    .menu-cardapio{
        font-size: 14px;
        margin-left: 100px;
        
    }
    .description-internal{
        font-size: 15px;
    }
    .internal-image{
        height: 220px;
        width: 220px;
    }
    .preco button {
        font-size: 10px;
        width: 110px;
    }
}
@media(max-width:1188px){ 
    .footer p {
        margin-left: 40px;
    }
}
@media(max-width:1130px){
    .menu-cardapio{
        font-size: 14px;
        margin-left: 100px;
    }
    .menu-image{
        height: 140px;
        width: 120px;
    }
    .preco button{
        font-size: 10px;
        width: 110px;  
    }
    .footer p {
        margin-left: 20px;
    }
    .description-internal{
        font-size: 14px;
        line-height: 20px;
    }
    .internal-image{
        height: 200px;
        width: 200px;
    }
    .title-menu{
        margin-top: 50px;
    }
}
@media(max-width:1070px){
    .menu-cardapio{
        font-size: 13px;
        margin-right: 25px;
        
    }
    .menu-image{
        height: 110px;
        width: 110px;
    }
    .description-menu {
        margin-right: 15px;
        max-width: 330px;
        
    }
    .preco button{
        font-size: 10px;
        margin-left: -56px;

    }
    .footer p {
        font-size: 13px;
        margin: 12px;
    }

}
@media(max-width:910px){
    .header {
        font-size: 18px;
    }
    .reserve {
        position: absolute;
        top: 110%; 
        left: 50%; 
        transform: translate(-50%, -50%);

    }
    .description-internal{
        font-size: 11px;
        line-height: 20px;
        max-width: 350px;
    }
    .internal-image{
        height: 180px;
        width: 180px;
    }
    .menu-cardapio{
        font-size: 11px;
        margin-right: 25px;
        
    }
    .menu-image{
        height: 90px;
        width: 90px;
    }
    .description-menu {
        margin-right: 15px;
        max-width: 270px;
        
    }
    .preco button{
        font-size: 10px;
        margin-left: -150px;

    }
    .footer p {
        font-size: 10px;
        margin: 8px;
    }
}
@media(max-width:726px) {
    .header {
        font-size: 10px;
        
        
    }
   .header p {
    margin-left: 5px;
   }
    .reserve {
        position: absolute;
        top: 110%; 
        left: 50%; 
        transform: translate(-50%, -50%);

    }
    .description-title{
        font-size: 15px;
    }
    .description-internal{
        font-size: 11px;
        line-height: 20px;
        max-width: 200px;
    }
    .internal-image{
        height: 150px;
        width: 110px;
        
    }
    .menu-cardapio{
        font-size: 11px;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        
    }
    .menu-image{
        height: 90px;
        width: 90px;
        margin-bottom: 20px;
        margin-top: 50px;
        
    }
    .description-menu {
        margin-right: 15px;
        max-width: 240px;
        
        
    }
    .preco button{
        font-size: 8px;
        
        margin-left: -150px;

    }
    .title-menu {
        font-size: 12px;
    }
    .footer p {
        display: flex;
        flex-direction: column;
        font-size: 8px;
        
    }
}







